* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

ul {
        list-style: none;

}

a {
        text-decoration: none;
}


/* header */
header {
        display: flex;
        flex-direction: column;
        background-image: url(../assets/img/tierra-universo.webp);
        color: white;
        padding: 15px;
        justify-content: space-around;
        align-items: center;
        height: 15vh;
}

@media (min-width: 685px) {
        header {
                flex-direction: row;
        }

}

h1 {    color: white;
        text-align: center;
        font-size: 2.5em
}

nav {
        width: 100%;
}

@media (min-width: 685px) {
        nav {
                width: 50%;
        }
}

ul {
        display: flex;
        justify-content: space-around;
        gap: 0.3em;

}

li a {
        color: white;
        font-weight: 900;
        font-size: 10px;
        font-family: 'Michroma', sans-serif;

}

@media (min-width: 1200px) {
        li a {
                color: white;
                font-weight: 900;
                font-size: 10px;
                font-family: 'Michroma', sans-serif;
                justify-content: flex-end;

        }
}


/* estructurando con grid para luego hacer responsive*/



header {
        grid-area: header;
}



.section-destacado {
        grid-column: 1/3;
}

.destacado-section-1 {
        grid-area: section1;
}

.destacado-section-2 {
        grid-area: section2;
}

aside {
        grid-area: aside;
}

.aside-div {
        grid-area: aside;
}

.banner-2 {
        grid-area: banner;
}

footer {
        grid-area: footer;
}

/* Comienzo del Main */
@media (min-width: 1200px) {
        main {
                display: grid;
                grid-area: main;
                grid-template-columns: 3fr 1fr;
                grid-template-rows: repeat(3, auto);
                grid-template-areas:
                         "section0 aside"
                        "section1 aside"
                          
                        "section2 aside"
        }

        .destacado {
                grid-area: section1;
        }
        .titulo {
                grid-area: section0;
                 width: 50%;
        }

}


.titulo {

        background-color: rgba(128, 128, 128, 0.322);
        height: 5vh;
        width: 100%;

}



.titulo__destacado {

        color: rgba(0, 0, 0, 0.555);
        font-size: 30px;
        font-family: fantasy;
        text-align: center;
        font-weight: 800;



}


@media (min-width: 685px) {
        .destacado {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(2, auto);
                gap: 10px;
        }

}

.noticia-1 {



        width: 100%;
        height: 300px;

        margin-bottom: 20px;


}

@media (min-width: 685px) {
        .noticia-1 {
                height: 240px;


        }
}


@media (min-width: 685px) {
        .destacado__article {
                grid-column: span 2;

        }
}

.noticia-1__titulo {
        text-align: center;
        margin-top: 10px;
}

.noticia-1__image {
        width: 100%;
        height: 150px;



}

.noticia-1__description {
        text-align: justify;
        margin-top: 10px;
}

.noticia-2 {

        width: 100%;
        height: 300px;
        margin-bottom: 30px;

}

@media (min-width: 685px) {
        .noticia-2 {
                margin-bottom: 45px;

        }
}

.noticia-2__image {
        width: 100%;
        height: 150px;

}

.noticia-2__titulo {
        text-align: center;
}

.noticia-2__description {
        text-align: justify;
        margin-top: 10px;
}

.noticia-3 {
        width: 100%;
        height: 300px;


}

.noticia-3__image {
        width: 100%;
        height: 150px;

}

.noticia-3__titulo {
        text-align: center;
}

.noticia-3__description {
        margin-top: 10px
}

/* Seccion Latinoamerica */
@media (min-width: 685px) {
        .latino-section-1 {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(2, auto);
                gap: 10px;

        }

        .latino__noticia-1 {

                margin-bottom: 2em;
        }



}

.latino-titulo {
        background-color: rgba(128, 128, 128, 0.322);

        width: 100%;
}

.latino__h2 {
        color: rgba(0, 0, 0, 0.555);
        font-size: 30px;
        font-family: fantasy;
        text-align: center;
        font-weight: 800;
}

.latino__noticia-1 {
        width: 100%;
        height: 300px;


        margin-bottom: 2em;
}

.latino__image {
        width: 100%;
        height: 150px;

}

.latino__titulo-1 {
        text-align: center;
}

.titulo-1__description {
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 20px;
}

.latino__noticia-2 {
        width: 100%;
        height: 300px;

        margin-bottom: 4em;
}

@media (min-width: 685px) {
        .latino__noticia-2 {
                margin-bottom: 1em;

        }

        .latino__titulo-2 {
                text-align: center;
        }

        .titulo-2__description {
                margin-top: 10px;
        }

        .latino__noticia-3 {
                width: 100%;
                height: 300px;
                margin-top: 20px;
                margin-bottom: 1em;

        }

}

@media (min-width: 685px) {
        .latino__noticia-3 {

                margin-top: 3px;
        }




        .latino__titulo-3 {
                text-align: center;
        }

        .titulo-3__description {
                margin-top: 10px;


        }

        .latino__noticia-4 {
                width: 100%;
                height: 300px;
                margin-top: 20px;
        }



        @media (min-width: 685px) {
                .latino__noticia-4 {

                        margin-top: 3px;



                }
        }
}

/* Aside */

@media (min-width: 320px) {
        aside {
                display: none;
        }

}

@media (min-width: 1200px) {


        aside {

                padding: 10px;
                display: inline-block;
                width: 400px;
                height: 730px;
                margin-top: 60px;
                margin-bottom: 20px;
                margin-left: 40px;
                margin-right: 10px;
        }

        .aside-div {
                background-color: rgba(128, 128, 128, 0.322);

                border-radius: 20px;
                ;
        }

        .aside__h2 {
                color: rgba(0, 0, 0, 0.555);
                font-size: 25px;
                font-family: fantasy;

                font-weight: 800;
                margin-bottom: 20px;
                text-align: center;
        }

        .aside__noticia-1 {
                text-align: center;
                margin-bottom: 10px;
        }

        .aside__noticia-2 {
                text-align: center;
                margin-bottom: 10px;
        }

        .aside__noticia-3 {
                text-align: center;
        }

}


/* Banner Publicitario */

@media (min-width: 320px) {
        .banner-2 {
                display: none;
        }

}

@media (min-width: 1200px) {

        .banner-2 {
                display: block;
        }

        .banner-2__publicidad {
                width: 100%;
                height: 150px;
        }
}

/* Comienzo Footer */

footer {
        display: flex;
        padding: 10px;
        gap: 2em;

        height: 100%;
        background-image: url(../assets/img/universo.webp);

}

.container {
        display: flex;
        justify-content: space-between;

        width: 100%;
        align-items: baseline;
        gap: 1em;

}

.container__ciencia {
        color: white;

}

.ciencia__h3 {
        color: white;
        font-size: 2em;
}


.container-nav__ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
}


.ciencia-ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
}

.newsletter {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: baseline;
        color: white;
        font-size: 1.3em;

}

.form {
        display: flex;

        color: white;
}








/* comienzo seccion tecnologia */

.main-container {
        display: flex;
        flex-direction: column;
}

@media (min-width: 685px) {
        .main-container {
                display: grid;
                grid-template-columns: repeat(2,auto);
                grid-template-rows: repea(4,auto);
                gap: 10px;
        }
        .titulo-tecnologia {
                grid-column: span 2;
        }
        .section-1 {
                grid-column: span 2;
                height: 260px;
         }
        
       
}

.tecnologia__image {
        width: 100%;
        height: 8em;
}

.titulo-tecnologia {
        background-color: rgba(128, 128, 128, 0.178);

}

.titulo__h2 {
        color: rgba(0, 0, 0, 0.555);
        font-size: 1.5em;
        font-family: fantasy;
        text-align: center;
        font-weight: 800;


}

.article-1 {

        width: 100%;
        height: 290px;

}


.article-1__image {
        width: 100%;
        height: 200px;

}

.article-1__h2 {
        text-align: center;
        font-size: 1.3em;
}

.article-2 {
        width: 100%;
        height: 270px;

}

.article-2__image {
        width: 100%;
        height: 150px;
}

.article-2__h2 {
        text-align: center;
        font-size: 1.3em;
}

.article-2__description {
        text-align: center;
}

.article-3 {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
}

.article-3__image {
        width: 100%;
        height: 150px;
}

.article-3__h2 {
        text-align: center;
        font-size: 1.3em;
}

.article-3__description {
        text-align: center;
}

.article-4 {
        width: 100%;
        height: 300px;
        margin-bottom: 12px;
}

.article-4__image {
        width: 100%;
        height: 150px;
}

.article-4__h2 {
        text-align: center;
        font-size: 1.3em;
}

.article-4__description {
        text-align: center;
}

.article-5 {
        width: 100%;
        height: 290px;

}

.article-5__image {
        width: 100%;
        height: 150px;
}

.article-5__h2 {
        font-size: 1.3em;
        text-align: center;
}

.article-5__description {
        text-align: center;
}

/* comienzo seccion ciencia */


.ciencia__image {
        width: 100%;
        height: 300px;
}

.ciencia-titulo {
        background-color: rgba(128, 128, 128, 0.178);
}

.ciencia__h2 {
        color: rgba(0, 0, 0, 0.555);
        font-size: 1.5em;
        font-family: fantasy;
        margin-left: 165px;
        font-weight: 800;
}

.ciencia-1 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 380px;
        margin-top: 20px;

        margin-left: 40px;
}

.ciencia-1__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.ciencia-2 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
}

.ciencia-2__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}


.ciencia-3 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 380px;

        margin-bottom: 20px;
        margin-left: 40px;
}

.ciencia-3__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}


.ciencia-4 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 340px;

        margin-bottom: 20px;
        margin-left: 40px;
}

.ciencia-4__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}


.ciencia-5 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 380px;

        margin-bottom: 20px;
        margin-left: 40px;
}

.ciencia-5__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

/* Comienzo seccion Nuestro Universo */
.universo-titulo {
        background-color: rgba(128, 128, 128, 0.178);
}

.universo__h2 {
        color: rgba(0, 0, 0, 0.555);
        font-size: 1.5em;
        font-family: fantasy;
        margin-left: 120px;
        font-weight: 800;
}

.universo__image {
        width: 100%;
        height: 300px;
}

.universo-1 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 340px;
        margin-top: 20px;

        margin-left: 40px;
}

.universo-1__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.universo-2 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;
        margin-top: 20px;

        margin-left: 40px;
}

.universo-2__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.universo-3 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;
        margin-top: 20px;

        margin-left: 40px;
}

.universo-3__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.universo-4 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
}

.universo-4__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.universo-5 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;

        margin-bottom: 20px;
        margin-left: 40px;
}

.universo-5__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

/*Comienzo seccion Business  */
.business-titulo {
        background-color: rgba(128, 128, 128, 0.178);
}

.business__h2 {
        color: rgba(0, 0, 0, 0.555);
        font-size: 1.5em;
        font-family: fantasy;
        margin-left: 160px;
        font-weight: 800;
}

.business__image {
        width: 100%;
        height: 300px;
}

.business-1 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
}

.business-1__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.business-2 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;

        margin-bottom: 20px;
        margin-left: 40px;
}

.business-2__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.business-3 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;

        margin-bottom: 20px;
        margin-left: 40px;
}

.business-3__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.business-4 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 380px;

        margin-bottom: 20px;
        margin-left: 40px;
}

.business-4__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}

.business-5 {
        border: solid 2px black;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;
        width: 400px;
        height: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
}

.business-5__image {
        width: 100%;
        height: 150px;
        border-radius: 20px;
}