* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/img/universo-gif.gif);
  color: white;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
@media (min-width: 610px) {
  header {
    flex-direction: row;
  }
}
header h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}
@media (min-width: 1200px) {
  header h1 {
    font-size: 50px;
  }
}
header h1:hover {
  color: rgba(73, 222, 255, 0.5);
}
header nav {
  width: 100%;
}
@media (min-width: 610px) {
  header nav {
    width: 50%;
  }
}
header ul {
  display: flex;
  justify-content: space-around;
  gap: 0.3em;
}
header li a {
  color: white;
  font-weight: 900;
  font-size: 10px;
  font-family: "Michroma", sans-serif;
}
@media (min-width: 610px) {
  header li a {
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  header li a {
    color: white;
    font-weight: 900;
    font-size: 15px;
    font-family: "Michroma", sans-serif;
    justify-content: flex-end;
    transition: all 400ms ease;
  }
  header li a:hover {
    color: rgba(73, 222, 255, 0.5);
    box-shadow: 5px 15px 15px rgba(73, 222, 255, 0.5);
    transform: translatey(2%);
  }
}

header {
  grid-area: header;
}

.section-destacado {
  grid-column: 1/3;
}

.destacado-section-1 {
  grid-area: section1;
}

.destacado-section-2 {
  grid-area: section2;
}

aside {
  grid-area: aside;
}

.aside-div {
  grid-area: aside;
}

.banner-2 {
  grid-area: banner;
}

footer {
  grid-area: footer;
}

@media (min-width: 320px) {
  aside {
    display: none;
  }
}

@media (min-width: 1200px) {
  aside {
    padding: 10px;
    display: inline-block;
    width: 300px;
    height: 780px;
    margin: 40px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .aside__div {
    background-color: rgba(128, 128, 128, 0.322);
    border-radius: 20px;
  }
}

@media (min-width: 1200px) {
  .aside__h2 {
    color: rgba(0, 0, 0, 0.555);
    font-size: 25px;
    font-family: fantasy;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
  }
}

aside h3 {
  color: rgb(75, 3, 75);
}

@media (min-width: 1200px) {
  .aside__noticia-1 {
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .aside__noticia-2 {
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .aside__noticia-3 {
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .aside__noticia-4 {
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .aside__image {
    width: 100%;
    height: 9.5rem;
  }
}

footer {
  display: flex;
  padding: 5px;
  height: 100%;
  background-image: url(../assets/img/universo-gif.gif);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  gap: 1em;
}
@media (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 610px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    gap: 1em;
  }
}
.container__footer {
  color: white;
  font-size: 1.8rem;
}

.container-nav__ul li a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
}
@media (min-width: 1200px) {
  .container-nav__ul li a {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
}
.container-nav__ul li a:hover {
  color: red;
}

.newsletter {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: baseline;
  color: white;
  font-size: 1.3em;
}
@media (min-width: 320px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 610px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}
@media (min-width: 1200px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}
.newsletter__h4 {
  margin-bottom: 5px;
}

@media (min-width: 320px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
@media (min-width: 1200px) {
  form {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  main {
    display: grid;
    grid-area: main;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "section0 aside" "section1 aside" "section2 aside";
  }
}

.titulo {
  background-color: rgba(128, 128, 128, 0.322);
  height: 7vh;
  width: 100%;
}
@media (min-width: 1200px) {
  .titulo {
    grid-area: section0;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin-left: 40px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.322);
    height: 7vh;
    width: 91%;
  }
}
.titulo__destacado {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}

@media (min-width: 1200px) {
  .titulo__destacado {
    width: 100%;
  }
}

@media (min-width: 610px) {
  .destacado {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .destacado {
    grid-area: section1;
    margin-left: 40px;
  }
}

@media (min-width: 610px) {
  .destacado__article {
    grid-column: span 2;
  }
}

.noticia-1 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 610px) {
  .noticia-1 {
    height: 15rem;
  }
}
@media (min-width: 1200px) {
  .noticia-1 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 93%;
    height: 530px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .noticia-1:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatey(2%);
  }
}
.noticia-1__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 610px) {
  .noticia-1__image {
    width: 100%;
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .noticia-1__image {
    height: 400px;
  }
}
.noticia-1__titulo {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.noticia-1__description {
  font-family: "Roboto Mono", monospace;
  color: black;
}

.noticia-2 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 610px) {
  .noticia-2 {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .noticia-2 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 85%;
    height: 480px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .noticia-2:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatey(-2%);
  }
}
.noticia-2__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .noticia-2__image {
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    height: 240px;
    margin-bottom: 10px;
  }
}
.noticia-2__titulo {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.noticia-2__description {
  text-align: justify;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .noticia-2__description {
    line-height: 1.3;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.noticia-3 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .noticia-3 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 85%;
    height: 480px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .noticia-3:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatey(-2%);
  }
}
.noticia-3__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .noticia-3__image {
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    height: 240px;
    margin-bottom: 10px;
  }
}
.noticia-3__titulo {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.noticia-3__description {
  text-align: justify;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .noticia-3__description {
    line-height: 1.3;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.latino-titulo {
  background-color: rgba(128, 128, 128, 0.322);
  height: 7vh;
  width: 100%;
}
@media (min-width: 1200px) {
  .latino-titulo {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0.322);
    height: 7vh;
    width: 95%;
  }
}
.latino-titulo__h2 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}

@media (min-width: 1200px) {
  .destacado-section-2 {
    margin-left: 40px;
  }
}

.latino__h2 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}
@media (min-width: 1200px) {
  .latino__h2 {
    margin: 10px;
  }
}

@media (min-width: 610px) {
  .latino-section-1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .latino-section-1 {
    display: flex;
    flex-direction: column;
  }
}

.latino__noticia-1 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 610px) {
  .latino__noticia-1 {
    margin-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-1 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-1:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}

.latino__titulo-1 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}

.titulo-1__description {
  text-align: justify;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .titulo-1__description {
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.latino__noticia-2 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 610px) {
  .latino__noticia-2 {
    margin-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-2 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-2:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}

.latino__titulo-2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}

.titulo-2__description {
  text-align: justify;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .titulo-2__description {
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.latino__noticia-3 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 610px) {
  .latino__noticia-3 {
    margin-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-3 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-3:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}

.latino__titulo-3 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}

.titulo-3__description {
  text-align: justify;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .titulo-3__description {
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.latino__noticia-4 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 610px) {
  .latino__noticia-4 {
    margin-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-4 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .latino__noticia-4:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}

.latino__titulo-4 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}

.titulo-4__description {
  text-align: justify;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .titulo-4__description {
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.latino__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .latino__image {
    width: 250px;
    height: 200px;
    float: left;
    margin-right: 20px;
  }
}

@media (min-width: 320px) {
  .banner-2 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .banner-2 {
    display: block;
  }
  .banner-2__publicidad {
    width: 100%;
    height: 150px;
  }
}

.tecnologia-logo__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .tecnologia-logo__image {
    height: 300px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 610px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repea(4, auto);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
}

.titulo-tecnologia {
  background-color: rgba(128, 128, 128, 0.322);
  height: 7vh;
  width: 100%;
}
.titulo-tecnologia .titulo__h2 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}
@media (min-width: 610px) {
  .titulo-tecnologia {
    grid-column: span 2;
  }
}

@media (min-width: 610px) {
  .section-1 {
    grid-column: span 2;
    height: 260px;
  }
}

.titulo-tecnologia {
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  margin-bottom: 10px;
}

.tecnologia-1__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .tecnologia-1__image {
    height: 180px;
  }
}

.tecnologia__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .tecnologia__image {
    width: 250px;
    height: 200px;
    float: right;
    margin-left: 20px;
  }
}

.article-1 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .article-1 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .article-1:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.article-1__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}

.article-2 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .article-2 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .article-2:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.article-2__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.article-2__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .article-2__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.article-3 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .article-3 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .article-3:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.article-3__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.article-3__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .article-3__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.article-4 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .article-4 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .article-4:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.article-4__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.article-4__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .article-4__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.article-5 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .article-5 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .article-5:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.article-5__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.article-5__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .article-5__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.ciencia-logo__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .ciencia-logo__image {
    height: 300px;
  }
}

.container-ciencia {
  display: flex;
  flex-direction: column;
}
@media (min-width: 610px) {
  .container-ciencia {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .container-ciencia {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
}

.ciencia-titulo {
  background-color: rgba(128, 128, 128, 0.322);
  height: 7vh;
  width: 100%;
}
@media (min-width: 610px) {
  .ciencia-titulo {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .ciencia-titulo {
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin-bottom: 10px;
  }
}
.ciencia-titulo .ciencia__h2 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}

.section-1 {
  width: 100%;
  height: 290px;
}
@media (min-width: 610px) {
  .section-1 {
    grid-column: span 2;
    height: 260px;
  }
}

.ciencia__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .ciencia__image {
    width: 250px;
    height: 200px;
    float: left;
    margin-right: 20px;
  }
}

.ciencia-1 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .ciencia-1 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .ciencia-1:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.ciencia-1__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.ciencia-1__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .ciencia-1__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.ciencia-2 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .ciencia-2 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .ciencia-2:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.ciencia-2__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.ciencia-2__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .ciencia-2__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.ciencia-3 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .ciencia-3 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .ciencia-3:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.ciencia-3__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.ciencia-3__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .ciencia-3__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.ciencia-4 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .ciencia-4 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .ciencia-4:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.ciencia-4__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.ciencia-4__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .ciencia-4__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.ciencia-5 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .ciencia-5 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .ciencia-5:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.ciencia-5__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.ciencia-5__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .ciencia-5__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.universo-logo__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .universo-logo__image {
    height: 300px;
  }
}

.container-universo {
  display: flex;
  flex-direction: column;
}
@media (min-width: 610px) {
  .container-universo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repea(4, auto);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .container-universo {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
}

.universo-titulo {
  background-color: rgba(128, 128, 128, 0.322);
  height: 7vh;
  width: 100%;
}
@media (min-width: 610px) {
  .universo-titulo {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .universo-titulo {
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin-bottom: 10px;
  }
}
.universo-titulo .universo__h2 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}

@media (min-width: 610px) {
  .section-1 {
    grid-column: span 2;
    height: 260px;
  }
}

.universo__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .universo__image {
    width: 250px;
    height: 200px;
    float: right;
    margin-left: 20px;
  }
}

.section-1 {
  width: 100%;
  height: 290px;
}

.section-2 {
  width: 100%;
  height: 290px;
}

.section-3 {
  width: 100%;
  height: 290px;
}

.section-4 {
  width: 100%;
  height: 290px;
}

.section-5 {
  width: 100%;
  height: 290px;
}

.universo-1 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .universo-1 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .universo-1:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.universo-1__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.universo-1__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .universo-1__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.universo-2 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .universo-2 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .universo-2:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.universo-2__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.universo-2__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .universo-2__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.universo-3 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .universo-3 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .universo-3:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.universo-3__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.universo-3__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .universo-3__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.universo-4 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .universo-4 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .universo-4:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.universo-4__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.universo-4__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .universo-4__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.universo-5 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .universo-5 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .universo-5:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.universo-5__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.universo-5__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .universo-5__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.business-logo__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .business-logo__image {
    height: 300px;
  }
}

.container-business {
  display: flex;
  flex-direction: column;
}
@media (min-width: 610px) {
  .container-business {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repea(4, auto);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .container-business {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
}

.business-titulo {
  background-color: rgba(128, 128, 128, 0.322);
  height: 7vh;
  width: 100%;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  margin-bottom: 10px;
}
@media (min-width: 610px) {
  .business-titulo {
    grid-column: span 2;
  }
}
.business-titulo .business__h2 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}

@media (min-width: 610px) {
  .section-1 {
    grid-column: span 2;
    height: 260px;
  }
}

.business__image {
  width: 100%;
  height: 150px;
}
@media (min-width: 1200px) {
  .business__image {
    width: 250px;
    height: 200px;
    float: left;
    margin-right: 20px;
  }
}

.business__h2 {
  color: rgba(0, 0, 0, 0.555);
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  font-weight: 800;
}

.business-1 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .business-1 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .business-1:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.business-1__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.business-1__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .business-1__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.business-2 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .business-2 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .business-2:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.business-2__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.business-2__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .business-2__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.business-3 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .business-3 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .business-3:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.business-3__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.business-3__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .business-3__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.business-4 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .business-4 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .business-4:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.business-4__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.business-4__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .business-4__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

.business-5 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: default;
}
@media (min-width: 1200px) {
  .business-5 {
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
    margin: 10px;
    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
  }
}
@media (min-width: 1200px) {
  .business-5:hover {
    box-shadow: 5px 15px 15px rgb(0, 0, 0);
    transform: translatex(2%);
  }
}
.business-5__h2 {
  text-align: center;
  font-size: 1.3em;
  color: rgb(75, 3, 75);
  margin-top: 5px;
  margin-bottom: 5px;
}
.business-5__description {
  text-align: center;
}
@media (min-width: 1200px) {
  .business-5__description {
    text-align: justify;
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
    color: black;
  }
}

/*# sourceMappingURL=styles-prueba.css.map */
