.business-logo__image {
    @include images;
    @include large {
        height: 300px;
    }
}
.container-business {
    display: flex;
    flex-direction: column;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repea(4, auto);
        gap: 10px;
    }
    @include large {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }

}

.business-titulo {
    @include maintitle;

    @include boxshadow;

    @include medium {
        grid-column: span 2;
    }

    .business__h2 {
        @include h2title;
    }
}

.section-1{
    @include medium {
        grid-column: span 2;
        height: 260px;
    }
    


}





.business__image {
    @include images;
    @include large {
        width: 250px;
        height: 200px;
        float: left;
        margin-right: 20px;
    }
}

.business__h2 {
    @include h2title;
}


.business-1 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;
       

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }


    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }


}

.business-2 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}

.business-3 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }
}

.business-4 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}

.business-5 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}