.container-business {
    display: flex;
    flex-direction: column;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repea(4, auto);
        gap: 10px;
    }

}

.business-titulo {
    @include maintitle;

    @include boxshadow;

    @include medium {
        grid-column: span 2;
    }

    .business__h2 {
        @include h2title;
    }
}

.section-1 {
    @include medium {
        grid-column: span 2;
        height: 260px;
    }

    @include large {
        @include boxshadow;

    }

}



.section-2 {
    @include large {
        @include boxshadow;

    }

}

.section-3 {
    @include large {
        @include boxshadow;

    }

}

.section-4 {
    @include large {
        @include boxshadow;

    }

}

.section-5 {
    @include large {
        @include boxshadow;

    }

}


.business__image {
    @include images;
}

.business__h2 {
    @include h2title;
}


.business-1 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: justify;
    }


}

.business-2 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
    }

}

.business-3 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
    }
}

.business-4 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
    }

}

.business-5 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: justify;
    }

}