.ciencia-logo__image {
    @include images;
    @include large {
        height: 300px;
    }
}
.container-ciencia {
    display: flex;
    flex-direction: column;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        gap: 10px;

    }
    @include large {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
}

.ciencia-titulo {
    @include maintitle;

    @include medium {
        grid-column: span 2;
    }

    @include large {
        @include boxshadow;
    }

    .ciencia__h2 {
        @include h2title;
    }

}


.section-1 {
    width: 100%;
    height: 290px;

    @include medium {
        grid-column: span 2;
        height: 260px;
    }
  
}


.ciencia-1__image{
    @include images;
    @include small{
        height: 200px;
    }
    @include medium{
        height: 180px;
    }
    @include large {
        height: 180px;
    }
}
.ciencia__image {
    @include images;
    @include large {
        width: 250px;
        height: 200px;
        float: left;
        margin-right: 20px;
    }


}

.ciencia-1 {
    @include articles;
    @include small {
        @include articles ($height:320px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);

    }
    @include medium {
        box-shadow: none;
        height: 390px;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }


    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
         @include small {
            display: none;
        }
        @include medium {
            @include description;
           
           
        }

        @include large {
            @include description;
        }
    }
}

.ciencia-2 {
    @include articles;
    @include small {
        @include articles ($height:340px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);

    }
    @include medium {
        height: 390px;
    }
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height: 230px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }


    &__h2 {
        @include h2articles;
        
    }

    &__description {
        text-align: center;
        @include small {
            @include description;
        }
        @include medium {
            @include description;
           
           
        }

        @include large {
            @include description;
        }
    }
}

.ciencia-3 {
    @include articles;
    @include small {
        @include articles;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
        height: 350px;

    }
    @include medium {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
        height: 390px;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height: 230px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include small {
            @include description;
        }
        @include medium {
            @include description;
           
           
        }

        @include large {
            @include description;
        }

    }
}

.ciencia-4 {
    @include articles;
    @include small {
        @include articles;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
        height: 380px;

    }
    @include medium {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
        height: 390px;
    }
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height: 230px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include small {
            @include description;
        }
        @include medium {
            @include description;
           
           
        }

        @include large {
            @include description;
        }
    }
}

.ciencia-5 {
    @include articles;
        @include small {
        @include articles;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
        height: 340px;

    }
    @include medium {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
        height: 390px;
    }
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 230px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include small {
            @include description;
        }
        @include medium {
            @include description;
           
           
        }

        @include large {
            @include description;
        }
    }
}