//Main

main {
    @include large {
        display: grid;
        grid-area: main;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "section0 aside"
            "section1 aside"

            "section2 aside"
    }


}

.titulo {
    @include maintitle;
    @include boxshadow;

    @include medium {
    
        height: 8vh;
    }

    @include large {
        grid-area: section0;

        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin-left: 40px;
      
        @include maintitle ($width: 91%);
    }

    &__destacado {

        @include h2title;

    }

}

.titulo__destacado {
    @include large {
        width: 100%;
        cursor: default;
        position: relative;
        animation-name: mover-titulo;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-direction: alternate-reverse;



    }

}

@keyframes mover-titulo {
    0% {
        transform: translate(0px);
        color: black;
    }

    50% {
        transform: translate(200px);
        color: $color-secundario
    }

    100% {

        color: $color-terciario
    }
}




.destacado {
    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }

}

.destacado {
    @include large {
        grid-area: section1;
        margin-left: 40px;

    }


}


.destacado__article {

    @include medium {
        grid-column: span 2;
    }




}

.noticia-1 {
    @include articles();

    @include small {
        @include articles($height: 370px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);

    }

    @include medium {
        height: 17rem;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles($width: 93%, $height: 530px);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatey(2%);
        }
    }

    &__image {
        @include images();

        @include medium {
            width: 100%;
            height: 150px;
        }

        @include large {
            height: 400px;

        }

    }

    &__titulo {
        @include h2articles;

        @include small {
            margin-bottom: 10px;
        }
    }

    &__description {

        text-align: center;

        @include small {
            @include description;
        }

        @include medium {
            @include description;


        }

        @include large {
            @include description;
            line-height: 1.5;
        }
    }

}



.noticia-2 {
    @include articles();

    @include small {
        @include articles($height: 370px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
    }

    @include medium {
        height: 380px;
        margin-bottom: 45px;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles($width: 85%, $height: 480px);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatey(-2%);
        }
    }



    &__image {
        @include images();

        @include large {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
            height: 240px;
            margin-bottom: 10px
        }


    }


    &__titulo {
        @include h2articles;

        @include small {
            margin-bottom: 10px;
        }
    }

    &__description {

        text-align: center;

        @include small {
            @include description;
        }

        @include medium {
            @include description;


        }

        @include large {
            @include description;
            line-height: 1.5;
        }
    }

}



.noticia-3 {
    @include articles();

    @include small {
        @include articles($height: 350px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
    }

    @include medium {
        height: 380px;

    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles($width: 85%, $height: 480px);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatey(-2%);
        }
    }


    &__image {
        @include images;

        @include large {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
            height: 240px;
            margin-bottom: 10px
        }



    }

    &__titulo {
        @include h2articles;

        @include small {
            margin-bottom: 10px;
        }
    }

    &__description {


        @include small {
            @include description;
        }

        @include medium {
            @include description;


        }

        @include large {

            @include description;
            line-height: 1.5;

        }
    }
}

//Seccion Latinoamerica//

.latino-titulo {
    @include maintitle;

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        @include maintitle ($width: 95%);

    }


    &__h2 {

        @include h2title;
    }
}

.destacado-section-2 {
    @include large {
        margin-left: 40px;

    }

}

.latino__h2 {
    @include h2title;

    @include large {
        margin: 10px;
    }
}

.latino-section-1 {
    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }

    @include large {
        display: flex;
        flex-direction: column;
    }
}

.latino__noticia-1 {
    @include articles;

    @include small {
        @include articles($height: 370px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
    }

    @include medium {

        height: 380px;
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }


}

.latino__titulo-1 {
    @include h2articles;

}

.titulo-1__description {
    @include description;

    @include small {
        font-size: 14px;

    }


    @include large {
        @include description;
        line-height: 1.5;
    }

}


.latino__noticia-2 {
    @include articles;

    @include small {
        @include articles($height: 370px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
    }

    @include medium {
        height: 380px;
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height: 230px, $width: 70%);
        transition: all 400ms ease;
    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

}

.latino__titulo-2 {
    @include h2articles;
}

.titulo-2__description {
    @include description;

    @include small {
        font-size: 14px;

    }

    @include large {
        @include description;
        line-height: 1.5;
    }
}



.latino__noticia-3 {
    @include articles;

    @include small {
        @include articles($height: 350px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
    }

    @include medium {
        height: 380px;
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height: 230px, $width: 70%);
        transition: all 400ms ease;
    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }
}

.latino__titulo-3 {
    @include h2articles;
}


.titulo-3__description {
    @include description;

    @include small {
        font-size: 14px;

    }

    @include large {
        @include description;
        line-height: 1.5;
    }
}


.latino__noticia-4 {
    @include articles;

    @include small {
        @include articles($height: 350px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
    }

    @include medium {
        height: 380px;
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height: 230px, $width: 70%);
        transition: all 400ms ease;
    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }
}


.latino__titulo-4 {
    @include h2articles;
}


.titulo-4__description {
    @include description;

    @include small {
        font-size: 14px;

    }

    @include large {
        @include description;
        line-height: 1.5;
    }
}


.latino__image {
    @include images;

    @include large {
        width: 250px;
        height: 200px;
        float: left;
        margin-right: 20px;
    }


}


//Banner Publicitario

.banner-2 {
    @include small {
        display: none;
    }
}

.banner-2 {
    @include large {
        display: block;
        height: 200px;

        &__publicidad {
            width: 100%;
            height: 200px;
        }
    }
}