//Main

main {
    @include large {
        display: grid;
        grid-area: main;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "section0 aside"
            "section1 aside"

            "section2 aside"
    }
    

}

.titulo {
    @include maintitle;

    @include large {
        grid-area: section0;
        
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin-left: 40px;
        height: 50px;
        @include maintitle ($width:91%);
    }

    &__destacado {

        @include h2title;

    }

}
.titulo__destacado {
    @include large {
        width: 100%;
    }
}

.destacado {
    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }

}

.destacado {
    @include large {
        grid-area: section1;
        margin-left: 40px;
    }
   
  
}

.destacado__article {
    @include medium {
        grid-column: span 2;
    }
    
   


}

.noticia-1 {
    @include articles();

    @include medium {
        height: 15rem;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles($width: 93%, $height:530px);
        transition: all 400ms ease;
          
    }
    &:hover{
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatey(2%);
        }
    }

    &__image {
        @include images();

        @include medium {
            width: 100%;
            height: 150px;
        }
        @include large {
            height: 400px
        }

    }

    &__titulo {
        @include h2articles;
    }

    &__description {
       
            font-family: 'Roboto Mono', monospace;
            color: black;
        
    }
}


.noticia-2 {
    @include articles();

    @include medium {
        margin-bottom: 45px;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles($width:85%, $height:480px);
        transition: all 400ms ease;
        
    }

    &:hover{
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatey(-2%);
        }
    }

   

    &__image {
        @include images();

        @include large {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
            height: 240px;
            margin-bottom: 10px
           
            
            
        }


    }

    &__titulo {
        @include h2articles;
    }

    &__description {
        @include description();
        @include large {
            line-height: 1.3;
            font-family: 'Roboto Mono', monospace;
            color: black;
        
        }
    }

}

.noticia-3 {
    @include articles();

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles($width:85%, $height:480px);
        transition: all 400ms ease;
        
    }
    &:hover{
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatey(-2%);
        }
    }


    &__image {
        @include images;

        @include large {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 50);
            height: 240px;
            margin-bottom: 10px
            
        }



    }

    &__titulo {
        @include h2articles;
    }

    &__description {
        @include description ();
        @include large {
            line-height: 1.3;
            font-family: 'Roboto Mono', monospace;
            color: black;
        
        }

    }


}

//Seccion Latinoamerica//

.latino-titulo {
    @include maintitle;

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        @include maintitle ($width:95%);

    }


    &__h2 {

        @include h2title;
    }
}
.destacado-section-2 {
    @include large {
    margin-left: 40px;
    
    }

}

.latino__h2 {
    @include h2title;

    @include large {
        margin: 10px;
    }
}

.latino-section-1 {
    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }
    @include large {
        display: flex;
        flex-direction: column;
    }
}

.latino__noticia-1 {
    @include articles;

    @include medium {
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height:230px, $width:70%);
        transition: all 400ms ease;

    }
    &:hover{
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }


}

.latino__titulo-1 {
    @include h2articles;

}

.titulo-1__description {
    @include description;
    @include large {
        font-family: 'Roboto Mono', monospace;
        color: black;
    }

}


.latino__noticia-2 {
    @include articles;

    @include medium {
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height:230px, $width:70%);
        transition: all 400ms ease;
    }
    &:hover{
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

}

.latino__titulo-2 {
    @include h2articles;
}

.titulo-2__description {
    @include description;
    @include large {
        font-family: 'Roboto Mono', monospace;
        color: black;
    }
}



.latino__noticia-3 {
    @include articles;

    @include medium {
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height:230px, $width:70%);
        transition: all 400ms ease;
    }
    &:hover{
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }  
}

.latino__titulo-3 {
    @include h2articles;
}


.titulo-3__description {
    @include description;
    @include large {
        font-family: 'Roboto Mono', monospace;
        color: black;
    }
}


.latino__noticia-4 {
    @include articles;

    @include medium {
        margin-bottom: 2em;
    }

    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        @include articles ($height:230px, $width:70%);
        transition: all 400ms ease;
    }
    &:hover{
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    } 
}


.latino__titulo-4 {
    @include h2articles;
}


.titulo-4__description {
    @include description;
    @include large {
        font-family: 'Roboto Mono', monospace;
        color: black;
    }
}


.latino__image {
    @include images;
    
    @include large {
        width: 250px;
        height: 200px;
        float: left;
        margin-right: 20px;
    }


}


//Banner Publicitario

.banner-2 {
    @include small {
        display: none;
    }
}

.banner-2 {
    @include large {
        display: block;

        &__publicidad {
            width: 100%;
            height: 150px;
        }
    }
}