.container-universo {
    display: flex;
    flex-direction: column;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repea(4, auto);
        gap: 10px;
    }

}

.universo-titulo {
    background-color: rgba(128, 128, 128, 0.178);

    @include medium {
        grid-column: span 2;
    }

    @include large {
        @include boxshadow;
    }

}

.section-1 {
    @include medium {
        grid-column: span 2;
        height: 260px;
    }
}

.universo__h2 {
    @include h2title;
}

.universo__image {
    width: 100%;
    height: 8em;

}

.section-1 {
    width: 100%;
    height: 290px;


}



.section-2 {
    width: 100%;
    height: 290px;

}



.section-3 {
    width: 100%;
    height: 290px;

}


.section-4 {
    width: 100%;
    height: 290px;

}



.section-5 {
    width: 100%;
    height: 290px;

}

.universo__image {
    width: 100%;
    height: 200px;
}

.universo-1{
    width: 100%;
    height: 290px;
    &__h2 {
        text-align: center;
        font-size: 1.3em;
    }
    &__description {
        text-align: justify;
    }

}

.universo-2{
    width: 100%;
    height: 290px;
    &__h2 {
        text-align: center;
        font-size: 1.3em;
    }
    &__description {
        text-align: justify;
    }

}

.universo-3 {
    width: 100%;
    height: 290px;
    &__h2 {
        text-align: center;
        font-size: 1.3em;
    }
    &__description {
        text-align: justify;
    }

}

.universo-4{
    width: 100%;
    height: 290px;
    &__h2 {
        text-align: center;
        font-size: 1.3em;
    }
    &__description {
        text-align: justify;
    }

}

.universo-5 {
    width: 100%;
    height: 290px;
    &__h2 {
        text-align: center;
        font-size: 1.3em;
    }
    &__description {
        text-align: justify;
    }

}