.container-universo {
    display: flex;
    flex-direction: column;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repea(4, auto);
        gap: 10px;
    }

}

.universo-titulo {
    @include maintitle;

    @include medium {
        grid-column: span 2;
    }

    @include large {
        @include boxshadow;
    }
    .universo__h2 {
        @include h2title;
    }

}

.section-1 {
    @include medium {
        grid-column: span 2;
        height: 260px;
    }
}



.universo__image {
    @include images;
}

.section-1 {
    width: 100%;
    height: 290px;


}



.section-2 {
    width: 100%;
    height: 290px;

}



.section-3 {
    width: 100%;
    height: 290px;

}


.section-4 {
    width: 100%;
    height: 290px;

}



.section-5 {
    width: 100%;
    height: 290px;

}



.universo-1{
    @include articles;
    &__h2 {
        @include h2articles;
    }
    &__description {
        text-align: justify;
    }

}

.universo-2{
    @include articles;
    &__h2 {
        @include h2articles;
    }
    &__description {
        text-align: justify;
    }

}

.universo-3 {
    @include articles;
    &__h2 {
        @include h2articles;
    }
    &__description {
        text-align: justify;
    }

}

.universo-4{
    @include articles;
    &__h2 {
        @include h2articles;
    }
    &__description {
        text-align: justify;
    }

}

.universo-5 {
    @include articles;
    &__h2 {
        @include h2articles;
    }
    &__description {
        text-align: justify;
    }

}