.universo-logo__image {
    @include images;
    @include large {
        height: 300px;
    }
}
.container-universo {
    display: flex;
    flex-direction: column;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repea(4, auto);
        gap: 10px;
    }
    @include large {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }

}

.universo-titulo {
    @include maintitle;

    @include medium {
        grid-column: span 2;
    }

    @include large {
        @include boxshadow;
    }

    .universo__h2 {
        @include h2title;
    }

}

.section-1 {
    @include medium {
        grid-column: span 2;
        height: 260px;
    }
}



.universo__image {
    @include images;
    @include large {
        width: 250px;
        height: 200px;
        float: right;
        margin-left: 20px;
    }
}








.universo-1 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }
    

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}

.universo-2 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}

.universo-3 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}

.universo-4 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }


    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}

.universo-5 {
    @include articles;
    @include large {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 50);
        margin: 10px;
        
        @include articles ($height: 250px, $width: 70%);
        transition: all 400ms ease;

    }

    &:hover {
        @include large {
            box-shadow: 5px 15px 15px rgba(0, 0, 0, 60);
            transform: translatex(2%);
        }
    }

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
        @include large {
            @include description;
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
    }

}