.main-container {
    display: flex;
    flex-direction: column;

    @include medium {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repea(4, auto);
        gap: 10px;
    }
}

.titulo-tecnologia {
    @include maintitle;

    .titulo__h2 {
        @include h2title;
    }


    @include medium {
        grid-column: span 2;
    }
}

.section-1 {
    @include medium {
        grid-column: span 2;
        height: 260px;
    }

    @include large {
        @include boxshadow;

    }


}

.section-2 {
    @include large {
        @include boxshadow;

    }

}

.section-3 {
    @include large {
        @include boxshadow;

    }

}

.section-4 {
    @include large {
        @include boxshadow;

    }

}

.section-5 {
    @include large {
        @include boxshadow;

    }

}

.titulo-tecnologia {
    @include boxshadow;
}

.tecnologia__image {
    @include images;
}




.article-1 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

}

.article-2 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
    }

}

.article-3 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
    }
}

.article-4 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
    }
}

.article-5 {
    @include articles;

    &__h2 {
        @include h2articles;
    }

    &__description {
        text-align: center;
    }

}