//Footer

footer {
    display: flex;
    padding: 5px;


    height: 100%;
    background-image: url(../assets/img/header-footer/universo-gif.gif);


}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    gap: 1em;

    @include small {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    @include medium {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        width: 100%;
        align-items: baseline;
        gap: 1em;
    }

    &__footer {
        color: white;
        font-size: 1.8rem;
    }


}

.ciencia__h3 {
    color: white;
    font-family: 'Michroma', sans-serif;
    font-size: 30px;
}


.container-nav__ul li a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 1.2rem;
    padding: 5px;

    @include large {
        display: flex;
        flex-direction: row;
        padding: 5px;
        transition: all 400ms ease;


    }

    &:hover {
        color: rgba(73, 222, 255, 0.5);
        box-shadow: 5px 15px 15px rgba(73, 222, 255, 0.5);
        transform: translatey(2%);
    }



}


.newsletter {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: baseline;
    color: white;
    font-size: 1.3em;

    @include small {
        display: flex;
        flex-direction: column;


        align-items: center;
    }

    @include medium {
        display: flex;
        flex-direction: column;

        padding: 5px;


    }

    @include large {
        display: flex;
        flex-direction: column;
        padding: 5px;




    }


    &__h4 {
        margin-bottom: 5px;
        cursor: default;


    }

}


form {
    @include small {
        display: flex;
        flex-direction: column;
        font-size: .9em;
        align-items: flex-start baseline;
        gap: 5px
    }


    @include large {
        display: flex;
        flex-direction: row;
        padding: 5px;


    }


}

.newsletter__h4 {
    @include medium {
        justify-content: flex-end;
    }
}

.fname {
    border: none;
    transition: all 400ms ease;
    border-radius: 5px;

    &:hover {
        color: $color-primario;
        box-shadow: 5px 15px 15px rgba(73, 222, 255, 0.5);
        transform: translatey(2%);
    }
}

.lname {
    border: none;
    transition: all 400ms ease;
    border-radius: 5px;

    &:hover {
        color: $color-primario;
        box-shadow: 5px 15px 15px rgba(73, 222, 255, 0.5);
        transform: translatey(2%);
    }
}

.email {
    border: none;
    transition: all 400ms ease;
    border-radius: 5px;

    &:hover {
        color: $color-primario;
        box-shadow: 5px 15px 15px rgba(73, 222, 255, 0.5);
        transform: translatey(2%);

    }
}

.bottom {
    border: none;

    transition: all 400ms ease;
    border-radius: 5px;

    &:hover {
        color: $color-primario;
        box-shadow: 5px 15px 15px rgba(73, 222, 255, 0.5);
        transform: translatey(2%);
    }
}