
//Footer

footer {
    display: flex;
    padding: 5px;


    height: 100%;
    background-image: url(../assets/img/universo-gif.gif);
   
   
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    gap: 1em;

    @include small { 
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    @include medium {
        display: flex;
        flex-direction: row;
       
        justify-content: space-between;
        width: 100%;
        align-items: baseline;
        gap: 1em;
     }
  
    &__footer {
        color: white;
        font-size: 1.8rem;
    }


}


.container-nav__ul li a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    
    @include large {
        display: flex;
        flex-direction: row;
        padding: 5px;
        transition: all 400ms ease;
       
       
     }
 
    &:hover {
        color: rgba(73, 222, 255, 0.5);
        box-shadow: 5px 15px 15px rgba(73, 222, 255, 0.5);
        transform: translatey(2%);
    }
   
  

}


.newsletter {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: baseline;
    color: white;
    font-size: 1.3em;
    @include small { 
        display: flex;
        flex-direction: column;
        
        
        align-items: center;
    }
    @include medium {
        display: flex;
        flex-direction: column;
        padding: 5px;
       
       
     }
     @include large {
        display: flex;
        flex-direction: column;
        padding: 5px;
       
       
     }
 

    &__h4 {
        margin-bottom: 5px;
    }
   
}


form {
    @include small { 
        display: flex;
        flex-direction: column;
        
        align-items: center;
        gap: 10px
    }
    @include large {
        display: flex;
        flex-direction: row;
        padding: 5px;
       
       
     }
    
 
}